.modal-call__title{
    font-family: 'TT Lakes Bold';
    font-size: 28px;
    margin: 0;
    margin-bottom: 24px;
        &::before{
            content: "";
            border: 4px solid $elem;
            border-radius: 3px;
            margin-left: -20px;
            margin-right: 16px;
        }
}

@media (min-width: 1120px) {
    .modal-call__title{
        margin-top: 40px;
    }
}