.modal-feedback__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 32px;
}

@media (min-width: 1120px) {
    .modal-feedback__nav{
        position: absolute;
        margin-top: 40px;
        background: rgba(0, 0, 0, 0);
        transform: translateX(-120%);

        button{
            background: rgba(0, 0, 0, 0);
        }
    }
}