.item-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;

    &__btn {
        display: flex;
        flex-shrink: 0;
        justify-content: space-around;
        align-items: center;
        
    
        background: $btnForm;
        color: $bgBody;
        font-family: 'TT Lakes Medium';
        font-size: 12px;
        border: none;
        border-radius: 16px;
        padding-left: 12px;
        padding-right: 8px;
        margin-left: 20px;
    
        height: 32px;
    
        a {
            width: 24px;
            height: 24px;
        }
        p {
            margin-right: 1px;
        }
    }

    &__cost{
        margin-bottom: 16px;
        flex-grow: 1;
        p:first-child{
            color: $btnText;
        }
    }

    &__title{
        margin-bottom: 16px;
    
        p:first-child{
            color: $btnText;
        }
    }

    &__term{
        display: flex;
        flex: 1;
        align-items: stretch;

        span:first-child{
            color: $btnText;
        }
    
        ~p {
            min-width: 79px;
            margin-right: 20px;
        }
    }
}
