.repair__title{
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $btnText;
    background: linear-gradient(270deg, $bgColor 0%, $bgBody 98.61%);
    display: flex;
    justify-content: start;
    align-items: center;

    min-width: 320px;
    margin-top: 15px;
    padding: 16px;

    P{
        flex: 1;
        margin-left: 16px;
        text-transform: uppercase;
    }


}