.full-title{
    &__btn{
        font-family: 'TT Lakes Medium';
        margin: 0;

        @media (min-width: 320px) {
            display: flex;
            cursor: pointer;
            padding-bottom: 16px;
        }
    }
}