.full-title{
    &__btn{
        font-family: 'TT Lakes Medium';
        margin: 0;
        margin-bottom: 16px;

        @media (min-width: 320px) {
            display: flex;
            cursor: pointer;
        }
        
        @media (min-width: 1500px) {
            display: none;
        }
    }
}