.title{

    &__header{
        @media (min-width: 320px) {
            margin-left: 16px;
            font-family: 'TT Lakes Bold';
            font-size: 28px;
            
            &::before{
                content: "";
                border: 4px solid $elem;
                border-radius: 3px;
                margin-left: -20px;
                margin-right: 16px;
            }
        }

        @media (min-width: 768px) {
            margin-left: 24px;
            margin-bottom: 32px;
            
            &::before{
                content: "";
                margin-left: -28px;
                margin-right: 20px;
            }
        }
    }

    &__container {
        display: none;

        @media (min-width: 1120px) {
            display: flex;
        }
    }

    &__article{
        @media (min-width: 320px) {
            height: 90px;
            overflow: hidden;
            margin: 0;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 18px;
            font-family: 'TT Lakes Regular';
            color: $pText;
        }
        
        @media (min-width: 768px) {
            height: 160px;
            overflow: hidden;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin-bottom: 10px;
        }
    }

    &__1120px{
        display: flex;
        align-items: center;
    
        &:first-child{
            margin-right: 32px;
        }
        &:last-child{
            margin-right: 30px;
        }
    
        p{
            margin: 0;
            margin-right: 8px;
            font-family: 'TT Lakes Medium';
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: $pText;
        }
    }
}