.form{
    &__feedback{
        input{
            padding: 12px 16px;
            margin-bottom: 16px;
            width: 100%;
    
            font-family: 'TT Lakes Regular';
            color: $inputText;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
    
            border: 1px solid $borderColor;
            border-radius: 8px;

            @media (max-height: 600px) {
                margin-bottom: 10px;
            }
    
        }
    
        textarea{
            padding: 12px 16px;
            margin-bottom: 16px;
            width: 100%;
            height: 118px;
            resize: none;
    
            font-family: 'TT Lakes Regular';
            color: $inputText;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
    
            border: 1px solid $borderColor;
            border-radius: 8px;

            @media (max-height: 600px) {
                margin-bottom: 10px;
            }
        }
    
        p{
            font-size: 14px;
            line-height: 16px;
            color: $btnText;
            margin-bottom: 19px;

            @media (max-height: 600px) {
                margin-bottom: 10px;
            }
        }
    
        button{
            p{
                margin: 0;
                font-family: 'TT Lakes Bold';
                font-size: 12px;
                line-height: 24px;
                text-align: right;
                letter-spacing: -0.15px;
                text-transform: uppercase;
                color: $bgBody;
            }
    
            display: flex;
            background: $btnForm;
            border: none;
            border-radius: 16px;
            padding: 4px 10px;
    
            transform: translateX(140%);
        }
    
        @media (min-width: 1120px) {
            button{
                transform: translateX(230%);
            }
        }
    }

    &__call{
        input{
            padding: 12px 16px;
            margin-bottom: 16px;
            width: 100%;
    
            font-family: 'TT Lakes Regular';
            color: $inputText;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
    
            border: 1px solid $borderColor;
            border-radius: 8px;

            @media (max-height: 600px) {
                margin-bottom: 10px;
            }
        }
    
        textarea{
            padding: 12px 16px;
            margin-bottom: 16px;
            width: 100%;
            height: 118px;
            resize: none;
    
            font-family: 'TT Lakes Regular';
            color: $inputText;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
    
            border: 1px solid $borderColor;
            border-radius: 8px;

            @media (max-height: 600px) {
                margin-bottom: 10px;
            }
        }
    
        p{
            font-size: 14px;
            line-height: 16px;
            color: $btnText;
            margin-bottom: 19px;

            @media (max-height: 600px) {
                margin-bottom: 10px;
            }
        }
    
        button{
            p{
                margin: 0;
                font-family: 'TT Lakes Bold';
                font-size: 12px;
                line-height: 24px;
                text-align: right;
                letter-spacing: -0.15px;
                text-transform: uppercase;
                color: $bgBody;
            }
    
            display: flex;
            background: $btnForm;
            border: none;
            border-radius: 16px;
            padding: 4px 10px;
    
            transform: translateX(140%);
        }
    
        @media (min-width: 1120px) {
            button{
                transform: translateX(230%);
            }
        }
    }
}