.commerce__get{
    display: flex;
    font-family: 'TT Lakes Medium';
    margin-bottom: 40px;
    margin-left: 16px;
    
    a {
        display: flex;
        flex-direction: column;
        font-family: 'TT Lakes Medium';
        color: $pText;

        &:last-child{
            display: none;
        }
    }

    &.link{
        margin-left: 0;
        align-items: center;
        margin-bottom: 0;

        img{
            margin-left: 8px;
        }
    }
}

@media (min-width: 768px) {
    .commerce__get{
        a {
            flex-direction: row;

            &:first-child{
                display: none;
            }

            &:last-child{
                display: flex;
            }
        }
    }
}