.technics__full{
    display: none;
}

@media (min-width: 768px) {
    .technics__full{
        display: flex;
        cursor: pointer;
        width: 140px;
        margin-left: 32px;
        margin-top: 24px;
        margin-bottom: 14px;
        align-self: flex-start;

        font-family: 'TT Lakes Medium';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $pText;
    }
}