.price-table{
    display: none;

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        padding-bottom: 24px;
    }

    &__wrappper{
        display: flex;
        padding-top: 30px;
        padding-right: 24px;
        padding-left: 24px;
        flex: 1;
    }

    &__table{
        border-collapse: collapse;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 2px;
        flex: 1;
    
        thead{
            font-size: 14px;
            line-height: 16px;
            color: $btnText;
            text-align: left;
            opacity: 0.72;
            font-family: 'TT Lakes Regular';;
    
            th{
                padding-bottom: 16px;
                padding-left: 16px;
            }
    
        }
    
        tbody{
            background: $bgBody;
            border-radius: 6px;
            color: $pText;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
    
            tr{
                &:not(:last-child){
                    border-bottom: 1px solid $borderColor;
                }
    
                &:first-child {
                    td {
                        &:first-child {
                            border-top-left-radius: 6px
                        }   
                    }
    
                    td {
                        &:last-child {
                            border-top-right-radius: 6px
                        }   
                    }
                }
    
                &:last-child {
                    td {
                        &:first-child {
                            border-bottom-left-radius: 6px
                        }   
                    }
    
                    td {
                        &:last-child {
                            border-bottom-right-radius: 6px
                        }   
                    }
                }
            }
    
            td{
                margin: auto;
                &:first-child{
                    padding: 23px 16px;
                }
                &:last-child{
                    padding: 23px 16px;
                }
                button{
                    margin: 0;
                    margin-left: auto;
                }
            }
        }
    }
}
