.item-price__btn{
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;

    background: $btnForm;
    color: $bgBody;
    font-family: 'TT Lakes Medium';
    font-size: 12px;
    border: none;
    border-radius: 16px;
    padding-left: 12px;
    padding-right: 8px;

    height: 32px;

    a{
        width: 24px;
        height: 24px;
    }
    p{
        margin-right: 1px;
    }
}