@media (min-width: 320px) {
    .title__article{
        height: 90px;
        overflow: hidden;
        margin: 0;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 18px;
        font-family: 'TT Lakes Regular';
        color: $pText;
    }
}

@media (min-width: 768px) {
    .title__article{
        height: 160px;
        overflow: hidden;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
}