.nav__search{
    margin-right: 24px;
    margin-left: 78px;
    transition:filter 0.3s ease-in-out;

    &:hover{
        filter: opacity(65%);
    }

    &:focus{
        filter: opacity(65%);
    }
}
