.scroll-panel__list{
    display: flex;
    justify-content: stretch;
    width: auto;
    overflow: scroll;
    padding-left: 16px;
    padding-bottom: 0;

    &::-webkit-scrollbar{
        width: 0;
    }   
}

@media (min-width: 768px) {
    .scroll-panel__list{
        padding-left: 24px;
    }
}