.footer__item{
    transition: 0.1s filter ease-in-out;

    &:hover{
        filter: hue-rotate(70deg) opacity(90%);
        cursor: pointer;
    }

    &:focus{
        filter: hue-rotate(70deg) opacity(90%);
        cursor: pointer;
    }
}
