.descr{
    padding-bottom: 24px;
    padding-top: 24px;
    
    @media (min-width: 768px) {
        display: flex;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 32px;
    }

    &__title{
        padding-right: 16px;
        padding-left: 16px;

        @media (min-width: 768px) {
            padding-right: 48px;
            padding-left: 0;

        }
    }

    &__media{
        width: 100%;

    }
}

