.section-menu__item{
    transition: all 0.1s ease-in-out;
    line-height: 24px;

    &:hover{
        color: $btnText;
        cursor: pointer;
    }

    &:focus{
        color: $btnText;
        cursor: pointer;
    }
}

@import '../__item/--focus/_section-menu__item--focus'