.header{
    background-color: $bgBody;

    @media (min-width: 1120px) {
        display: none;
    }

    .container{
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 24px;
    }
} 

