.brends{
    display: none;
    background-color: $bgColor;
}

@media (min-width: 768px) {
    .brends{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

@import '../brends/__full/_brends__full';
@import '../brends/__list/_brends__list';
@import '../brends/__item/_brends__item';
@import '../brends/__arow/_brends__arow';