.repair{
    &::before{
        content: "";
        display: block;
        border: 1px solid $elemWrapper;
        width: 100%;

    }

    &__title{
        font-family: 'TT Lakes Regular';
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: $btnText;
        background: linear-gradient(270deg, $bgColor 0%, $bgBody 98.61%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        display: flex;
        justify-content: start;
        align-items: center;
    
        min-width: 320px;
        padding: 16px;

        @media (min-width: 768px) {
            padding-left: 24px;
        }
    
        P{
            flex: 1;
            text-transform: uppercase;
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }
}
