.section-menu{

    &__list {

        &::before{
        content: "";
        border: 4px solid $elem;
        border-radius: 3px;
        margin-left: -29px;
        position: absolute;
        height: 32px;
        }

        @media (min-width: 1120px) {
            &::before{
                margin-top: 38px;
            }
        }
    }

    &__item{
        transition: all 0.1s ease-in-out;
        line-height: 24px;

        &:not(:last-child){
            margin-bottom: 24px;

            @media (max-height: 600px) {
                margin-bottom: 10px;
            }

            @media (min-width: 768px) {
                margin-bottom: 32px;
            }

            @media (min-width: 1120px) {
                margin-bottom: 28px;
            }
        }
    
        &:hover{
            color: $btnText;
            cursor: pointer;
        }
    
        &:focus{
            color: $btnText;
            cursor: pointer;
        }

        &--focus{
            color: $btnText;
        }
    }
}