$bgColor: #F8F8F8;
$bgBody: #ffffff;

$elem: #41F6D7;
$elemWrapper: #D9FFF5;

$text: rgb(0, 0, 0);
$pText: #1B1C21;
$btnText: #7E7E82;

$borderColor: #EAEAEA;
$itemFocus: #B8FFEC;
$lineBorder: #D9FFF5;

$inputText: #B5B6BC;
$btnForm: #FF3E79;

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  font-family: 'TT Lakes Regular', sans-serif;
  background-color: $bgBody;
  color: $text;
  height: 100%;
}

html {
  box-sizing: border-box;
  margin: 0;
  font-family: 'TT Lakes Regular';
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
  cursor: pointer;
}

p{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:link{
    color: $btnText;
  }
  
  &:visited{
    color: $btnText;
  }
}

button{
  cursor: pointer;
}

@import '../scss/wrapper/_wrapper';
@import '../scss/header/_header';
@import '../scss/nav/_nav';
@import '../scss/contacts/_contacts';
@import '../scss/service/_service';
@import '../scss/scroll-panel/_scroll-panel';
@import '../scss/btn/_btn';
@import '../scss/full-title/_full-title';
@import '../scss/title/_title';
@import '../scss/descr/_descr';
@import '../scss/img320/_img320';
@import '../scss/img768/_img768';
@import '../scss/img1120/_img1120';
@import '../scss/side-menu/_side-menu';
@import '../scss/section-menu/_section-menu';
@import '../scss/footer/_footer';
@import '../scss/feedback/_feedback';
@import '../scss/toggler/_toggler';
@import '../scss/brends/_brends';
@import '../scss/brends-mob/_brends-mob';
@import '../scss/brend-wrapper/_brend-wrapper';
@import '../scss/technics-wrapper/_technics-wrapper';
@import '../scss/technical-mob/_technical-mob';
@import '../scss/price-mob/_price-mob';
@import '../scss/price-table/_price-table';
@import '../scss/repair/_repair';
@import '../scss/technics/_technics';
@import '../scss/commerce/_commerce';
@import '../scss/slider/_slider';
@import '../scss/modal-feedback/_modal-feedback';
@import '../scss/modal-call/_modal-call';
@import '../scss/form/_form';
@import '../scss/main/_main';