.wrapper{
    position: relative;
    margin:0 auto;
    overflow: hidden;

    &__main{
        max-width: 1640px;
        overflow: hidden;
        background-color: $bgColor;

        @media (min-width: 1120px) {
            margin-left: 320px;
        }
    }

    &__modal{
        display: block;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        z-index: -10;

        &--show{
            z-index: 1;
        }
    }
}
