.technics{
    display: none;
    background-color: $bgColor;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 32px;
    }

    &__list{

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            margin-right: 24px;
        }
    }

    &__item{

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            flex-shrink: 0;
        
            min-height: 160px;
            width: 224px;
        
            padding: 16px;
            margin-bottom: 16px;
        
            background: $bgBody;
            border: 1px solid $borderColor;
            box-sizing: border-box;
            border-radius: 6px;
    
            font-family: 'TT Lakes Medium';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $pText;
        
            &:not(:last-child){
                margin-right: 16px;
            }
        
            p {
                align-self: flex-start;
            }
        
            a {
                width: 40px;
                height: 40px;
                align-self: flex-end;
            }
        }
    }

    &__full{
        display: none;

        @media (min-width: 768px) {
            display: flex;
            cursor: pointer;
            width: 140px;
            margin-left: 32px;
            padding-top: 24px;
            align-self: flex-start;
    
            font-family: 'TT Lakes Medium';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $pText;
        }
    }

    &__arow{
        &--transform{
            transform: rotate(180deg);
        }
    }
    
}
