.nav__item{

    &.logo__item{
        flex: 1;
    }

    &.menu{
        width: 40px;
        height: 40px;
    }
    
}

@media (min-width: 768px) {
    .nav__item{
        &.menu{
            margin-right: 15px;
            margin-left: 16px;
        }

        &.logo__item{
            margin-left: 20px;
        }
    }
}