.service {

    &::before{
        content: "";
        height: 32px;
        border: 1px solid $borderColor;
        border-radius: 2px;
        margin-left: 20px;
    }

    .nav__item{
        width: 40px;
        height: 40px;
    }

    &__item {
        margin-left: 20px;
        
        &:nth-child(2){
            padding-right: 24px;
        }
    }
}