.technical-mob{
    &__list{
        display: flex;
        align-items: center;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
    
        font-family: 'TT Lakes Medium';
    
        min-height: 160px;
        max-width: 240px;
    
        padding: 16px;
        margin-bottom: 16px;
    
        background: $bgBody;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        border-radius: 6px;
    
        &:not(:last-child){
            margin-right: 16px;
        }
    
        p {
            align-self: flex-start;
        }
    
        a {
            width: 40px;
            height: 40px;
            align-self: flex-end;
        }
    }
}