.brends-mob{
    padding-top: 16px;
    padding-bottom: 16px;
    &__list{
        display: flex;
        align-items: center;
    }

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
    
        height: 72px;
        max-width: 240px;
    
        padding: 20px 16px;
        margin-bottom: 16px;
    
        background: $bgBody;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        border-radius: 6px;
    
        &:not(:last-child){
            margin-right: 16px;
        }
    }
}