.side-menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 320px;
    height: 100%;
    z-index: 3;
    

    color: $pText;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    transform: translateX(-150%) scaleX(0);

    @media (min-width: 360px) {
        width: 360px;
    }

    @media (min-width: 1120px) {
        transform: scaleX(1) translateX(0);
        width: 320px;
        position: fixed;
        top: 0;
        left: auto;
        overflow: hidden;

        .container{
            box-shadow: none;
            background-color: $bgBody;
        }
    }

    p{
        color: $pText;
    }

    .container{
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
        display: flex;
        height: 100%;
        flex-direction: column;
        background-color: $bgBody;

        @media (min-width: 1120px) {
            box-shadow: none;
        }
    }

    &__footer{
        padding-left: 24px;
        padding-bottom: 32px;
    }

    &__item{
        cursor: pointer;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 24px;
        margin-top: 32px;
        margin-bottom: 25px;
    }

    &__section{
        margin-left: 24px;
        flex: 1;
    }

    &--open{
        transition: all 0.3s ease-in-out;
        transform: translateX(0) scaleX(1);
        z-index: 3;
    }
}
