.footer__link{
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: $btnText;

    &:first-child{
        margin-top: 16px;
    }

    margin-bottom: 16px;

    &:last-child{
        margin-bottom: 19px;
    }
}

@media (min-width: 768px) {
    .footer__link{
        &:nth-child(1){
            text-align: left;
            width:218px;
            margin-bottom: 41px;
        }
        &:nth-child(2){
            flex: 1;
        }
        &:nth-child(3){
            width: 213px;
            text-align: right;
            margin-bottom: 25px;
            padding-right: 24px;
        }
    }
}